<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Kontanta Pet Shop</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
</head>

<body>
	<div class="container">

	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">Kontanta Pet Shop</h1>
		</div>
	</div>

	<br></br>

	<div class="row">
		<div class="col-md-12">
			<h2 class="text-center">Categories</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 text-center">
			<button type='submit' class="btn" id="felines">
				Felines
			</button>
		</div>
		<div class="col-md-6 text-center">
			<button type='submit' class="btn" id="canines">
				Canines
			</button>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 text-center">
			<button type='submit' class="btn" id="reptiles">
				Reptiles
			</button>
		</div>
		<div class="col-md-6 text-center">
			<button type='submit' class="btn" id="fish">
				Fish
			</button>
		</div>
	</div>
</body>

</html>