<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Home Page</title>

	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet">
  	<link rel="stylesheet" href="assets/css/style.css" media="screen" title="no title">
  	<script src="https://code.jquery.com/jquery.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  	
</head>

<body>
	<div class="jumbotron">
    	<h1 class="text-center">Kontanta</h1>
  	</div>

	{{{ body }}}

	<footer class="footer">
    	<div class="container text-center">Kontanta LLC</div> 
  	</footer>
</body>

</html>