
<div class="container">
<div class="row">
<div class="col-xs-12 text-center">
  <h1> Kontanta! </h1>
</div>

<div class="pets">

<div class="col-xs-3 text-center">
  <img src="/assets/images/cat.jpg" alt="" width="85%" height="52%" > 

  <div class="form-group">
    <label for="category">Cat</label>
    <select class="form-control" name="gender">
        <option value="" disabled>Select Cat</option>
        <option value="female">Female Cat</option>
        <option value="male">Male Cat</option>
    </select>
  </div>
</div>


<div class="col-xs-3 text-center">
  <img src="/assets/images/dog.jpg" alt="" width="85%" height="52%" > 

  <div class="form-group">
    <label for="category">Dog</label>
    <select class="form-control" name="gender">
        <option value="" disabled>Select Dog</option>
        <option value="female">Female Dog</option>
        <option value="male">Male Dog</option>

    </select>
  </div>
</div>


<div class="col-xs-3 text-center">
  <img src="/assets/images/fish.jpg" alt="" width="85%" height="52%" > 

  <div class="form-group">
    <label for="category">Fish</label>
    <select class="form-control" name="price">

        <option value="" disabled>Select Fish</option>
        <option value="female">Less than $10</option>
        <option value="male">More than $10</option>

    </select>
  </div>
</div>


<div class="col-xs-3 text-center">
  <img src="/assets/images/reptile.jpg" alt="" width="85%" height="52%"> 

  <div class="form-group">
    <label for="category">Reptile</label>
    <select class="form-control" name="price">

        <option value="" disabled>Select Reptile</option>
        <option value="female">Less than $10</option>
        <option value="male">More than $10</option>

    </select>
  </div>
</div>



</div>
</div>
</div>
</div>

<br>
<br>


  <div class="container blog">

      <div class="row">
      <div class="col-xs-6 text-center">
        <a class="btn btn-default" href="/sale">Donate</a>
      </div>
      <div class="col-xs-6 text-center">
        <a class="btn btn-default" href="/purchase">Adopt</a>
      </div>
    </div>


  </div>

  <!-- Custom Script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js" type="text/javascript"></script>

